.mainDiv{
    display: grid;
    grid-template-columns: 300px auto;
    height: 94vh;
}

.content{
    
    background-color: #1e1e1e;
    color: aliceblue;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.TodayInfo{
    margin-top: 20px;
    width: 90%;
}




.new-add{
    
    /* background-color: aliceblue; */
    /* color: #1e1e1e; */
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

.new-add textarea {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    /* padding: 6px 30px; */
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: aliceblue;
}

.new-add textarea:focus {

    background-color: #1e1e1e;
    color: aliceblue;
}

.new-add .favorite{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    /* justify-content: ??; */
}

.to-do{
   
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.to-do .taskGroup{
    margin-top: 20px;
    width: 45%;
    background-color: #333333;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}



.to-do .Heading{
    font-size: 30px;
    text-align: center;
}

.to-do .task{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.to-do .task:hover{
    width: 102%;
}

/* .to-do .task button{
    background-color: ;
} */

.to-do .task textarea {
    width: 80%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    /* padding: 6px 30px; */
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: aliceblue;
}


@media (max-width: 1000px) {
    .mainDiv{
        display: flex;
        /* grid-template-columns: 300px auto; */
        height: 94vh;
    }
    .content{
        width: 100%;
    }
    .to-do{
        margin-top: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .to-do .taskGroup{
        width: 100%;
    }
}



