aside{
    padding: 30px 10px 10px 10px;
    width: 100%;
    background-color: #282828;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
}

aside .sideEle{
    padding: 10px;
    width: 80%;
    text-decoration: none;
    color: aliceblue;
    margin-top: 10px;
}

aside .sideEle:not(.sideEleSelected):hover{
    background-color: #363636;
}

aside .sideEleSelected{
    color: #363636;
    background-color: aliceblue;
}

@media (max-width: 1000px) {
    aside{
        /* display: none; */
        position: fixed;
        z-index: 20;
        width: 200px;
        height: 100vh;
        margin-top: 55px;
    }
    
}