.mainDiv{
    display: grid;
    grid-template-columns: 300px auto;
    height: 94vh;
}

.content{
    
    background-color: #1e1e1e;
    color: aliceblue;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.new-add{
    margin-top: 20px;
    /* background-color: aliceblue; */
    /* color: #1e1e1e; */
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

.new-add textarea {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    /* padding: 6px 30px; */
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: aliceblue;
}

.new-add textarea:focus {

    background-color: #1e1e1e;
    color: aliceblue;
}

.to-do{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.to-do .taskGroup{
    width: 40%;
}

.to-do .Heading{
    font-size: 30px;
    text-align: center;
}

.to-do .task{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.to-do .task textarea {
    width: 80%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    /* padding: 6px 30px; */
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: aliceblue;
}




